.Order {
  width: 65%;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  background: linear-gradient(0deg, #4583aa, #38779e);
}

.ings {
  display: inline-block;
  margin: 0 8px;
  padding: 5px;
  border: 1px solid #51504f;
  text-transform: capitalize;
}
