.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(0deg, #4896c7, #3d799e, #3a7192);
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
