body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-button-color: rgb(190, 107, 38);
  --primary-background: #fff;

  --primary-button-color-dark: rgb(255, 255, 255);
  --primary-background-dark: rgb(51, 47, 47);
}
